[user]
	email = 3893680+cspeterson@users.noreply.github.com
	name = Christopher Peterson
[push]
	default = current
[alias]
	loga = !git log --graph --abbrev-commit
	la = !git config --list | grep -F alias
