[alias]
	alog = !git log --graph --abbrev-commit
	# Show branches sorted by last commit and include the date in the output
	branchl=!git for-each-ref --sort=authordate --format "'%(authordate:iso) * %1B[0;32m%(refname:short)%1B[m %(subject)' --sort=-committerdate refs/heads"
	diffs=!git diff --staged
	la = !git config --list | grep -F alias
	stat=!git status
[color]
	ui = auto
[push]
	default = current
[user]
	email = 3893680+cspeterson@users.noreply.github.com
	name = Christopher Peterson
