########
# Ignore all
*

# Explicitly ignore
/.bash_local
.ssh/
.gnupg/
.*.swp
.*.swo

#########
# Include
#########
!/.Xresources
!/.Xmodmap

!/.audacity-data/
!/.audacity-data/audacity.cfg
!/.audacity-data/pluginsettings.cfg
!/.audacity-data/Tags.xml
!/.audacity-files/

!/.bash.d/
!/.bash.d/**
!/.bash.skeleton
!/.bash_completion.d/
!/.bash_completion.d/**
!/.bash_git
!/.bash_logout
!/.bash_profile
!/.bash_ps1
!/.bash_settings
!/.bashrc

!/.bin/
!/.bin/bright
!/.bin/dotfiles-setup.py
!/.bin/gifgen
!/.bin/h5toflac
!/.bin/httplen
!/.bin/i3keys
!/.bin/instagif
!/.bin/lastpass-dmenu
!/.bin/lastpass-dmenu.git
!/.bin/lockblank
!/.bin/loopvideo
!/.bin/markused
!/.bin/setup-audacity
!/.bin/setup-blender
!/.bin/setup-dev
!/.bin/setup-gimp
!/.bin/setup-i3
!/.bin/setup-packages
!/.bin/setup-tmux
!/.bin/setup-vim
!/.bin/sizerate

!/.bundle/
!/.bundle/config

!/.clusterssh/
!/.clusterssh/config

!/.cookiecutters/
!/.cookiecutters/**

!/.config/
!/.config/user-dirs.dirs

!/.config/gsimplecal/
!/.config/gsimplecal/config

!/.config/i3/
!/.config/i3/config
!/.config/i3/lastpass-dmenu

!/.config/i3blocks/
!/.config/i3blocks/config
!/.config/i3blocks/datetimecal.sh

!/.config/pcmanfm-qt/
!/.config/pcmanfm-qt/default
!/.config/pcmanfm-qt/default/settings.conf

!/.config/pulse/
!/.config/pulse/default.pa

!/.config/terminator/
!/.config/terminator/config

!/.gemrc

!/.gimp-2.8/
!/.gimp-2.8/gimprc
!/.gimp-2.8/menurc


!/.github/
!/.github/LICENSE
!/.github/README.md

!/.gitconfig
!/.gitignore
!/.gitmodules

!/.inputrc

!/.profile

!/.README.md

!/.screenrc

!/.screenlayout/
!/.screenlayout/screenlayout
!/.screenlayout/desktop01

!/.tmux/
!/.tmux/bin/
!/.tmux/bin/tmux-newwin
!/.tmux/bin/.tmux-send-keys-to-all-panes
!/.tmux.conf

!.vim/ftdetect/markdown.vim
!/.vim/
!/.vim/ftdetect/
!/.vim/ftdetect/puppet.vim
!/.vim/ftplugin/
!/.vim/ftplugin/html.vim
!/.vim/ftplugin/javascript.vim
!/.vim/ftplugin/json.vim
!/.vim/ftplugin/markdown.vim
!/.vim/ftplugin/puppet.vim
!/.vim/ftplugin/python.vim
!/.vim/ftplugin/ruby.vim
!/.vim/ftplugin/sh.vim
!/.vim/ftplugin/vim.vim
!/.vim/ftplugin/yaml.vim
!/.vim_plugins
!/.vimrc

!/.xsession
