########
# Ignore
########
*
.bash_local
.ssh

#########
# Include
#########
!.Xresources
!.Xmodmap

!.audacity-data/
!.audacity-data/audacity.cfg
!.audacity-data/Tags.xml
!.audacity-files/
!.audacity-files/
!.audacity-files/setup.sh
!.audacity-files/plug-ins/
!.audacity-files/plug-ins/Noisegate.ny

!.bash_aliases
!.bash_git
!.bash_logout
!.bash_ps1
!.bash_settings
!.bashrc

!.clusterssh/
!.clusterssh/config

!.config/
!.config/i3
!.config/i3/config
!.config/i3/setup
!.config/i3blocks
!.config/i3blocks/config
!.config/i3blocks/datetimecal.sh
!.config/terminator
!.config/terminator/config

!.dotfiles.setup.py

!.git-setup.sh
!.gitignore

!.packages-install.sh

!.README.md

!.screenrc

!.vimrc
!.vim/
!.vim/setup.sh
!.vim/ftplugin/
!.vim/ftplugin/python.vim
!.vim/ftplugin/html.vim
!.vim/ftplugin/javascript.vim

!.xsession
