# Space after a history copmpletion will expand it in-place
$if Bash
	Space: magic-space
$endif

# /etc/inputrc - global inputrc for libreadline
# See readline(3readline) and `info rluserman' for more information.

# Be 8 bit clean.
set input-meta on
set output-meta on

# To allow the use of 8bit-characters like the german umlauts, uncomment
# the line below. However this makes the meta key not work as a meta key,
# which is annoying to those which don't need to type in 8-bit characters.
set convert-meta off

# see /usr/share/doc/bash/inputrc.arrows for other codes of arrow keys

# do not bell on tab-completion
set bell-style none

# some defaults / modifications for the emacs mode
$if mode=emacs
	# Jump by whitespace delimiters with vim-ish keys
	# ctrl-alt-{arrow}
	"[1;7D": shell-backward-word
	"[1;7C": shell-forward-word

	# Literal mappings for Ctrl-left-arrow and Ctrl-right-arrow for
	# shifting cursor by word else Tmux gets weird
        "\e[1;5C": forward-word
        "\e[1;5D": backward-word
        "\e[5C": forward-word
        "\e[5D": backward-word
        "\e\e[C": forward-word
        "\e\e[D": backward-word

	# Literal mappings for the use of the Home/End keys else Tmux gets weird
	"\e[1~": beginning-of-line
	"\e[4~": end-of-line

	# Jump up and down wrapped line in a manner almost similar to Vim
	"\C-gk": previous-screen-line
	"\C-g\C-k": previous-screen-line
	"\C-gj": next-screen-line
	"\C-g\C-j": next-screen-line
$endif
