! to enable any changes to this configuration:
! xrdb -merge ~/.Xresources
!
! If running gdm you may need to enable pre-processing for the conditional
! defines below to work.
! In that case, remove `-nocpp` from the following inside `/etc/gdm/Xsession`
!
! ```
! if [ -f "$userresources" ]; then
!   xrdb -nocpp -merge "$userresources"
! fi
! 111


! Set front to truetype as the bitmap-based default fonts are dumb and
! tiny on high-DPI displays. Also wtf who wants bitmapped fonts
XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 8
XTerm*renderFont: true
XTerm*eightBitInput: true
!
! Reverse to white-on-black color scheme
XTerm*reverseVideo: on

!
! Hi-DPI handling
!
#ifdef SRVR_csplt
	#define ANTIALIAS 1
	#define AUTOHINT 0
	#define CURSORSIZE 32
	#define DPI 90
	#define HINTING 1
	#define HINTSTYLE  hintfull
	#define LCDFILTER  lcddefault
	#define RGBA rgb
#endif
Xcursor.size: CURSORSIZE
Xft.antialias: ANTIALIAS
Xft.autohint: AUTOHINT
Xft.dpi: DPI
Xft.hinting: HINTING
Xft.hintstyle: HINTSTYLE
Xft.lcdfilter: LCDFILTER
Xft.rgba: RGBA

! Rofi
rofi.dpi: DPI
