! to enable any changes to this configuration:
! xrdb -merge ~/.Xresources


! Set front to truetype as the bitmap-based default fonts are dumb and
! tiny on high-DPI displays. Also wtf who wants bitmapped fonts
XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 8
XTerm*renderFont: true
XTerm*eightBitInput: true
!
! Reverse to white-on-black color scheme
XTerm*reverseVideo: on

!
! Hi-DPI handling
!
#ifdef SRVR_csplt
	#define ANTIALIAS 1
	#define AUTOHINT 0
	#define CURSORSIZE 64
	#define DPI 180
	#define HINTING 1
	#define HINTSTYLE  hintfull
	#define LCDFILTER  lcddefault
	#define RGBA rgb
#endif
Xcursor.size: CURSORSIZE
Xft.antialias: ANTIALIAS
Xft.autohint: AUTOHINT
Xft.dpi: DPI
Xft.hinting: HINTING
Xft.hintstyle: HINTSTYLE
Xft.lcdfilter: LCDFILTER
Xft.rgba: RGBA
! Set this variable for use in i3 config
